/* Génériques */

h1{
    text-align: center;
}

body{
    /* background-color: lightyellow; */
    /* background-color: black; */
    background-color: #001829;
    min-width: 480px;
    perspective: 400px;
    perspective-origin: 50% 50%;
}



/* Container */

.container{
    position: relative;
    width:80%;
    max-width : 900px;
    margin : 0 auto;
    /* background-color: #FF9E16; */
    background-image: url(../images/parchemin3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* Transformation 3D */
    /* transform: rotateX(15deg) translateY(-100px) translateZ(40px); */
    transform: rotateX(25deg) translateY(-140px) translateZ(75px);

}

/* Header général */

header{
    margin : 5% auto 5%;
    /* border-bottom: 1px solid black; */

    font-family: 'Almendra SC', serif;
    font-size: 3.5rem;
    
 }

 .bateauPosition{
    position: absolute;
    height: 100px;
    width: 80px;
    top: 55%;
    left: 50%;
    /* transform-origin: center; */
    transform: translate(-50%, -50%) rotate3d(1,0,0,25deg);
    transition: all 4s ease;
 }

 /* .container:hover .bateauPosition{
    transform-origin: bottom center;
    transform: translate(-50%, -50%) rotate3d(1,0,0,-25deg);
 } */

 .bateauPosition img{
    object-fit: contain;
 }

.ilesProjets{
    position: absolute;
    height: 100px;
    width: 270px;
    top: 70%;
    left: 50%;
    transform: rotate(-15deg);
    /* transition: all 1s ease; */
}

.ilesProjets:hover+.bateauPosition{
    transform: translate(90%, 40%) rotate3d(1,0,0,25deg);
}


